/*定义全局字体*/
*{
	font-family: "Microsoft YaHei";
	font-size:14px;
	color: #303030;
}

.QMenu{  
        background-color:#FAFAFA;  
        padding: 1px;  

}  
  
.QMenu::item{  
        background-color:transparent;  
}  
  
.QMenu::item:selected{  
        background-color:#E1E1E1;  
        color: black;  
}  

QPushButton{
	background-color: none;
	border-image: url(:/ChuangfengDesktop/Resources/button_normal.png);
}
QPushButton:hover{
	background-color: none;
	border-image: url(:/ChuangfengDesktop/Resources/button_hover.png);
}
QPushButton:pressed{
	background-color: none;
	border-image: url(:/ChuangfengDesktop/Resources/button_pushed.png);
}


/*定义全局滚动条样式*/
#ChuangfengDesktopClass,#main_title_widget{
	 background-color:#383B43;  
}
#optlayout{
	background-color:#44474D;  
}
#main_stackedWidget{
	background-color:#383B43;  
}
	
 QScrollBar:vertical {
     width: 10px;
	 border: 0px;
 }
 
  QScrollBar:vertical:hover {
	 background: rgb(221,225,228);
 }


 QScrollBar::handle:vertical {
    background: rgb(198,201,203);
    border-radius:5px;
 }


 QScrollBar::add-line:vertical {
     border: 0px;
     height: 0px;
 }

 QScrollBar::sub-line:vertical {
     border:0px;
     height: 0px;
 }

 QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
     border: 0px;
	 
 }

 QScrollBar::add-page:vertical{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
 }

QScrollBar::sub-page:vertical {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
 }

 QScrollBar::add-page:vertical:hover, QScrollBar::sub-page:vertical:hover {
	background: rgb(221,225,228);
 }

/********************************/
 
 QScrollBar:horizontal {
     border: 0px;
     height: 10px;
 }


 QScrollBar::handle:horizontal {
     background: rgba(69,124,216,150);
 }

 
 QScrollBar::add-line:horizontal {
     border: 0px;
     width: 0px;
 }

 QScrollBar::sub-line:horizontal {
     border:0px;
     width: 0px;
 }
 QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
     border: 0px;
 }

 QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
     background: rgba(0,0,0,0);
 }
/*滚动条样式定义结束*/


#main_title QTableView#log_tableView{
selection-background-color:#C1E3FF;
}


.QComboBox{
	border:1px solid #242424;
	border-radius:3px;
	padding:2px;
	background:none;
	selection-background-color:#484848;
	selection-color:#DCDCDC;
}


.QComboBox::down-arrow{
	image:url(:/ChuangfengDesktop/Resources/add_bottom.png);
	width:10px;
	height:10px;
	right:2px;
}

.QComboBox::drop-down{
	subcontrol-origin:padding;
	subcontrol-position:top right;
	width:15px;
	border-left-width:0px;
	border-left-style:solid;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	border-left-color:#242424;
}

.QComboBox::drop-down:on{
	top:1px;
}
.QComboBox QAbstractItemView::item{
	min-height:20px;
	min-width:10px;
}

/*登录窗口背景颜色*/
#login_title,#login_work
{
	background-color: #ffffff;
}
/*登录窗口logo*/
#login_logo
{
	border-image: url(:/ChuangfengDesktop/Resources/test.png);
}
/*登录关闭按钮样式*/
#login_title QPushButton#login_close_btn
{
	border-image: url(:/ChuangfengDesktop/Resources/loginclose.png)0 32 0 0;
}
#login_title QPushButton#login_close_btn:hover
{
	border-image: url(:/ChuangfengDesktop/Resources/loginclose.png)0 16 0 16;
}
#login_title QPushButton#login_close_btn:pressed
{
	border-image: url(:/ChuangfengDesktop/Resources/loginclose.png)0 0 0 32;
}




/**动态设置按钮*/
#login_title QPushButton#servce_set_btn[loginProperty="login"]
{
border-image: url(:/ChuangfengDesktop/Resources/btn_manager_set.png)0 44 0 0;
}
#login_title QPushButton#servce_set_btn[loginProperty="login"]:hover
{
	border-image: url(:/ChuangfengDesktop/Resources/btn_manager_set.png)0 22 0 22;
}
#login_title QPushButton#servce_set_btn[loginProperty="login"]:pressed
{
	border-image: url(:/ChuangfengDesktop/Resources/btn_manager_set.png)0 0 0 44;
}

#login_title QPushButton#servce_set_btn[loginProperty="set"]{

border-image: url(:/ChuangfengDesktop/Resources/account.png)0 32 0 0;
}
#login_title QPushButton#servce_set_btn[loginProperty="set"]:hover
{
	border-image: url(:/ChuangfengDesktop/Resources/account.png)0 16 0 16;
}
#login_title QPushButton#servce_set_btn[loginProperty="set"]:pressed{

	border-image: url(:/ChuangfengDesktop/Resources/account.png)0 0 0 32;
}




/**登录登录按钮样式*/
QPushButton#login_btn
 {
	border-image: url(:/ChuangfengDesktop/Resources/logins_link.png);
	color: #ffffff;
}

QPushButton#login_btn:hover

 {
	border-image: url(:/ChuangfengDesktop/Resources/logins_hover.png);
	color: #ffffff;
}
QPushButton#login_btn:pressed{
	border-image: url(:/ChuangfengDesktop/Resources/logins_active.png);
	color: #ffffff;
}

 #main_wnd_ctrl_widget QPushButton#min_btn{ 
	border-image: url(:/ChuangfengDesktop/Resources/min.png)0 60 0 0;
}
 #main_wnd_ctrl_widget QPushButton#min_btn:hover{ 
	border-image: url(:/ChuangfengDesktop/Resources/min.png)0 30 0 30;
}
 #main_wnd_ctrl_widget QPushButton#min_btn:pressed{ 
	border-image: url(:/ChuangfengDesktop/Resources/min.png)0 0 0 60;
}

 #main_wnd_ctrl_widget QPushButton#close_btn{ 
	border-image: url(:/ChuangfengDesktop/Resources/main_close.png)0 60 0 0;
}
 #main_wnd_ctrl_widget QPushButton#close_btn:hover{ 
	border-image: url(:/ChuangfengDesktop/Resources/main_close.png)0 30 0 30;
}
 #main_wnd_ctrl_widget QPushButton#close_btn:pressed{ 
	border-image: url(:/ChuangfengDesktop/Resources/main_close.png)0 0 0 60;
}

/**动态设置最大化还原按钮*/
#main_wnd_ctrl_widget QPushButton#max_restore_btn[maximizeProperty="maximize"]
{
	border-image: url(:/ChuangfengDesktop/Resources/max.png)0 60 0 0;
}
#main_wnd_ctrl_widget QPushButton#max_restore_btn[maximizeProperty="maximize"]:hover
{
	border-image: url(:/ChuangfengDesktop/Resources/max.png)0 30 0 30;
}
#main_wnd_ctrl_widget QPushButton#max_restore_btn[maximizeProperty="maximize"]:pressed
{
	border-image: url(:/ChuangfengDesktop/Resources/max.png)0 0 0 60;
}

#main_wnd_ctrl_widget QPushButton#max_restore_btn[maximizeProperty="restore"]{

border-image: url(:/ChuangfengDesktop/Resources/restore.png)0 60 0 0;
}
#main_wnd_ctrl_widget QPushButton#max_restore_btn[maximizeProperty="restore"]:hover
{

border-image: url(:/ChuangfengDesktop/Resources/restore.png)0 30 0 30;
}
#main_wnd_ctrl_widget QPushButton#max_restore_btn[maximizeProperty="restore"]:pressed{

border-image: url(:/ChuangfengDesktop/Resources/restore.png)0 0 0 60;
}

QTableView QHeaderView::section { background-color:#478CB6 ;color: #ffffff;}



QTableView {
    color: white;  
	 selection-background-color:#478CB6;        /*选中区域的背景色*//*表格内文字颜色*/
   /* gridline-color: black;          */                    /*表格内框颜色*/
    /* background-color: rgb(108, 108, 108);    */           /*表格内背景色*/
    /* alternate-background-color: rgb(64, 64, 64);*/
     selection-color: white;                            /*选中区域的文字颜色*/
   
    /* border: 2px groove gray;*/
   /*  border-radius: 0px;*/
   /*  padding: 2px 4px;*/
}


QDateEdit
{
font-size: 16px;
background-color: white;
border-style: solid;
border-width: 1px;
border-color: rgb(100,100,100);
spacing: 5px;
}





QPushButton#general_search_btn,QPushButton#bak_search_btn,QPushButton#nopay_search_btn{ 
	border-image: url(:/ChuangfengDesktop/Resources/search_btn.png)0 160 0 0;
}
 QPushButton#general_search_btn:hover,QPushButton#bak_search_btn:hover,
 QPushButton#nopay_search_btn:hover{ 
	border-image: url(:/ChuangfengDesktop/Resources/search_btn.png)0 80 0 80;
}
 QPushButton#general_search_btn:pressed,QPushButton#bak_search_btn:pressed,
 QPushButton#nopay_search_btn:pressed{ 
	border-image: url(:/ChuangfengDesktop/Resources/search_btn.png)0 0 0 160;
}

QPushButton#general_add_btn,QPushButton#bak_add_btn,QPushButton#nopay_add_btn,QPushButton#user_add_btn
,QPushButton#category_add_btn,QPushButton#area_add_btn,QPushButton#supplier_add_btn,
QPushButton#shareitem_add_btn,QPushButton#detailarea_add_btn{ 
	border-image: url(:/ChuangfengDesktop/Resources/detail_add_btn.png)0 160 0 0;
}
 QPushButton#general_add_btn:hover,QPushButton#bak_add_btn:hover,QPushButton#nopay_add_btn:hover
 ,QPushButton#user_add_btn:hover,QPushButton#category_add_btn:hover,QPushButton#area_add_btn:hover,
 QPushButton#supplier_add_btn:hover,QPushButton#shareitem_add_btn:hover,QPushButton#detailarea_add_btn:hover{ 
	border-image: url(:/ChuangfengDesktop/Resources/detail_add_btn.png)0 80 0 80;
}
 QPushButton#general_add_btn:pressed,QPushButton#bak_add_btn:pressed,QPushButton#nopay_add_btn:pressed
 ,QPushButton#user_add_btn:pressed,QPushButton#category_add_btn:pressed,QPushButton#area_add_btn:pressed,
 QPushButton#supplier_add_btn:pressed,QPushButton#shareitem_add_btn:pressed,QPushButton#detailarea_add_btn:pressed{ 
	border-image: url(:/ChuangfengDesktop/Resources/detail_add_btn.png)0 0 0 160;
}

QPushButton#general_del_btn,QPushButton#bak_del_btn,QPushButton#nopay_del_btn,
QPushButton#user_remove_btn,QPushButton#category_remove_btn,QPushButton#area_remove_btn,QPushButton#supplier_remove_btn,
QPushButton#shareitem_remove_btn,QPushButton#detailarea_remove_btn{ 
	border-image: url(:/ChuangfengDesktop/Resources/detail_del_btn.png)0 160 0 0;
}
 QPushButton#general_del_btn:hover,QPushButton#bak_del_btn:hover,QPushButton#nopay_del_btn:hover,
 QPushButton#user_remove_btn:hover,QPushButton#category_remove_btn:hover,QPushButton#area_remove_btn:hover,
 QPushButton#supplier_remove_btn:hover,QPushButton#shareitem_remove_btn:hover,QPushButton#detailarea_remove_btn:hover{ 
	border-image: url(:/ChuangfengDesktop/Resources/detail_del_btn.png)0 80 0 80;
}
 QPushButton#general_del_btn:pressed,QPushButton#bak_del_btn:pressed,QPushButton#nopay_del_btn:pressed,
 QPushButton#user_remove_btn:pressed,QPushButton#category_remove_btn:pressed,QPushButton#area_remove_btn:pressed,
 QPushButton#supplier_remove_btn:pressed,QPushButton#shareitem_remove_btn:pressed,QPushButton#detailarea_remove_btn:pressed{ 
	border-image: url(:/ChuangfengDesktop/Resources/detail_del_btn.png)0 0 0 160;
}

QPushButton#general_export_btn,QPushButton#bak_export_btn,QPushButton#nopay_export_btn{ 
	border-image: url(:/ChuangfengDesktop/Resources/detail_export_btn.png)0 160 0 0;
}
 QPushButton#general_export_btn:hover,QPushButton#bak_export_btn:hover,QPushButton#nopay_export_btn:hover
 { 
	border-image: url(:/ChuangfengDesktop/Resources/detail_export_btn.png)0 80 0 80;
}
 QPushButton#general_export_btn:pressed,QPushButton#bak_export_btn:pressed,QPushButton#nopay_export_btn:pressed
 { 
	border-image: url(:/ChuangfengDesktop/Resources/detail_export_btn.png)0 0 0 160;
}
