/*定义全局字体*/
*{
	font-family: "Microsoft YaHei";
	font-size:14px;
	color: #303030;
}

.QMenu{  
        background-color:#FAFAFA;  
        padding: 1px;  

}  
  
.QMenu::item{  
        background-color:transparent;  
}  
  
.QMenu::item:selected{  
        background-color:#E1E1E1;  
        color: black;  
}  



/*定义全局滚动条样式*/
#ChuangfengDesktopClass,#main_title_widget{
	 background-color:#383B43;  
}
#optlayout{
	background-color:#44474D;  
}
#main_stackedWidget{
	background-color:#383B43;  
}
	
 QScrollBar:vertical {
     width: 10px;
	 border: 0px;
 }
 
  QScrollBar:vertical:hover {
	 background: rgb(221,225,228);
 }


 QScrollBar::handle:vertical {
    background: rgb(198,201,203);
    border-radius:5px;
 }


 QScrollBar::add-line:vertical {
     border: 0px;
     height: 0px;
 }

 QScrollBar::sub-line:vertical {
     border:0px;
     height: 0px;
 }

 QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
     border: 0px;
	 
 }

 QScrollBar::add-page:vertical{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
 }

QScrollBar::sub-page:vertical {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
 }

 QScrollBar::add-page:vertical:hover, QScrollBar::sub-page:vertical:hover {
	background: rgb(221,225,228);
 }

/********************************/
 
 QScrollBar:horizontal {
     border: 0px;
     height: 10px;
 }


 QScrollBar::handle:horizontal {
     background: rgb(198,201,203);
    border-radius:5px;
 }

 
 QScrollBar::add-line:horizontal {
     border: 0px;
     width: 0px;
 }

 QScrollBar::sub-line:horizontal {
     border:0px;
     width: 0px;
 }
 QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
     border: 0px;
 }

 QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
     background: rgba(0,0,0,0);
 }
/*滚动条样式定义结束*/


#main_title QTableView#log_tableView{
selection-background-color:#C1E3FF;
}


.QComboBox{
	border:1px solid #242424;
	border-radius:3px;
	padding:2px;
	background:none;
	selection-background-color:#484848;
	selection-color:#DCDCDC;
}


.QComboBox::down-arrow{
	image:url(:/ChuangfengDesktop/Resources/add_bottom.png);
	width:10px;
	height:10px;
	right:2px;
}

.QComboBox::drop-down{
	subcontrol-origin:padding;
	subcontrol-position:top right;
	width:15px;
	border-left-width:0px;
	border-left-style:solid;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	border-left-color:#242424;
}

.QComboBox::drop-down:on{
	top:1px;
}
.QComboBox QAbstractItemView::item{
	min-height:20px;
	min-width:10px;
}

/*登录窗口背景颜色*/
#login_title,#login_work
{
	background-color: #ffffff;
}
/*登录窗口logo*/
#login_logo
{
	border-image: url(:/ChuangfengDesktop/Resources/test.png);
}
/*登录关闭按钮样式*/
#login_title QPushButton#login_close_btn
{
	border-image: url(:/ChuangfengDesktop/Resources/loginclose.png)0 32 0 0;
}
#login_title QPushButton#login_close_btn:hover
{
	border-image: url(:/ChuangfengDesktop/Resources/loginclose.png)0 16 0 16;
}
#login_title QPushButton#login_close_btn:pressed
{
	border-image: url(:/ChuangfengDesktop/Resources/loginclose.png)0 0 0 32;
}




/**动态设置按钮*/
#login_title QPushButton#servce_set_btn[loginProperty="login"]
{
border-image: url(:/ChuangfengDesktop/Resources/btn_manager_set.png)0 44 0 0;
}
#login_title QPushButton#servce_set_btn[loginProperty="login"]:hover
{
	border-image: url(:/ChuangfengDesktop/Resources/btn_manager_set.png)0 22 0 22;
}
#login_title QPushButton#servce_set_btn[loginProperty="login"]:pressed
{
	border-image: url(:/ChuangfengDesktop/Resources/btn_manager_set.png)0 0 0 44;
}

#login_title QPushButton#servce_set_btn[loginProperty="set"]{

border-image: url(:/ChuangfengDesktop/Resources/account.png)0 32 0 0;
}
#login_title QPushButton#servce_set_btn[loginProperty="set"]:hover
{
	border-image: url(:/ChuangfengDesktop/Resources/account.png)0 16 0 16;
}
#login_title QPushButton#servce_set_btn[loginProperty="set"]:pressed{

	border-image: url(:/ChuangfengDesktop/Resources/account.png)0 0 0 32;
}




/**登录登录按钮样式*/
QPushButton#login_btn
 {
	border-image: url(:/ChuangfengDesktop/Resources/logins_link.png);
	color: #ffffff;
}

QPushButton#login_btn:hover

 {
	border-image: url(:/ChuangfengDesktop/Resources/logins_hover.png);
	color: #ffffff;
}
QPushButton#login_btn:pressed{
	border-image: url(:/ChuangfengDesktop/Resources/logins_active.png);
	color: #ffffff;
}

 #main_wnd_ctrl_widget #min_btn,#material_min_btn,#feedstore_min_btn,#general_min_btn
 ,#bak_min_btn,#min_btn
 { 
	border-image: url(:/ChuangfengDesktop/Resources/min.png)0 60 0 0;
}
#main_wnd_ctrl_widget #min_btn:hover,#material_min_btn:hover,#feedstore_min_btn:hover
,#general_min_btn:hover,#bak_min_btn:hover,#min_btn:hover
{ 
	border-image: url(:/ChuangfengDesktop/Resources/min.png)0 30 0 30;
}
 #main_wnd_ctrl_widget #min_btn:pressed,#material_min_btn:pressed,#feedstore_min_btn:pressed
 ,#general_min_btn:pressed ,#bak_min_btn:pressed,#min_btn:pressed
 { 
	border-image: url(:/ChuangfengDesktop/Resources/min.png)0 0 0 60;
}

 #main_wnd_ctrl_widget QPushButton#close_btn,#material_cose_btn,#feedstore_cose_btn
,#general_cose_btn,#bak_cose_btn,#close_btn
{ 
	border-image: url(:/ChuangfengDesktop/Resources/main_close.png)0 60 0 0;
}
 #main_wnd_ctrl_widget QPushButton#close_btn:hover,#material_cose_btn:hover,#feedstore_cose_btn:hover
 ,#general_cose_btn:hover ,#bak_cose_btn:hover,#close_btn:hover
 { 
	border-image: url(:/ChuangfengDesktop/Resources/main_close.png)0 30 0 30;
}
 #main_wnd_ctrl_widget QPushButton#close_btn:pressed,#material_cose_btn:pressed,#feedstore_cose_btn:pressed
 ,#general_cose_btn:pressed ,#bak_cose_btn:pressed,#close_btn:pressed
 { 
	border-image: url(:/ChuangfengDesktop/Resources/main_close.png)0 0 0 60;
}

/**动态设置最大化还原按钮*/
#main_wnd_ctrl_widget QPushButton#max_restore_btn[maximizeProperty="maximize"]
,#material_max_restore_btn[maximizeProperty="maximize"]
,#feedstore_max_restore_btn[maximizeProperty="maximize"]
,#general_max_restore_btn[maximizeProperty="maximize"]
,#bak_max_restore_btn[maximizeProperty="maximize"]
,#max_restore_btn[maximizeProperty="maximize"]
{
	border-image: url(:/ChuangfengDesktop/Resources/max.png)0 60 0 0;
}
#main_wnd_ctrl_widget QPushButton#max_restore_btn[maximizeProperty="maximize"]:hover,
#material_max_restore_btn[maximizeProperty="maximize"]:hover,
#feedstore_max_restore_btn[maximizeProperty="maximize"]:hover,
#general_max_restore_btn[maximizeProperty="maximize"]:hover,
#bak_max_restore_btn[maximizeProperty="maximize"]:hover
,#max_restore_btn[maximizeProperty="maximize"]:hover
{
	border-image: url(:/ChuangfengDesktop/Resources/max.png)0 30 0 30;
}
#main_wnd_ctrl_widget QPushButton#max_restore_btn[maximizeProperty="maximize"]:pressed,
#material_max_restore_btn[maximizeProperty="maximize"]:pressed,
#feedstore_max_restore_btn[maximizeProperty="maximize"]:pressed
,#general_max_restore_btn[maximizeProperty="maximize"]:pressed
,#bak_max_restore_btn[maximizeProperty="maximize"]:pressed
,#max_restore_btn[maximizeProperty="maximize"]:pressed
{
	border-image: url(:/ChuangfengDesktop/Resources/max.png)0 0 0 60;
}

#main_wnd_ctrl_widget QPushButton#max_restore_btn[maximizeProperty="restore"],
#material_max_restore_btn[maximizeProperty="restore"],
#feedstore_max_restore_btn[maximizeProperty="restore"],
#general_max_restore_btn[maximizeProperty="restore"],
#bak_max_restore_btn[maximizeProperty="restore"],
#max_restore_btn[maximizeProperty="restore"]
{

border-image: url(:/ChuangfengDesktop/Resources/restore.png)0 60 0 0;
}
#main_wnd_ctrl_widget QPushButton#max_restore_btn[maximizeProperty="restore"]:hover,
#material_max_restore_btn[maximizeProperty="restore"]:hover,
#feedstore_max_restore_btn[maximizeProperty="restore"]:hover,
#general_max_restore_btn[maximizeProperty="restore"]:hover,
#bak_max_restore_btn[maximizeProperty="restore"]:hover,
#max_restore_btn[maximizeProperty="restore"]:hover
{

border-image: url(:/ChuangfengDesktop/Resources/restore.png)0 30 0 30;
}
#main_wnd_ctrl_widget QPushButton#max_restore_btn[maximizeProperty="restore"]:pressed
,#material_max_restore_btn[maximizeProperty="restore"]:pressed
,#feedstore_max_restore_btn[maximizeProperty="restore"]:pressed,
#general_max_restore_btn[maximizeProperty="restore"]:pressed,
#bak_max_restore_btn[maximizeProperty="restore"]:pressed,
#max_restore_btn[maximizeProperty="restore"]:pressed
{

border-image: url(:/ChuangfengDesktop/Resources/restore.png)0 0 0 60;
}

QTableView QHeaderView::section { background-color:#478CB6 ;color: #ffffff;}



QTableView {
    color: white;  
	 selection-background-color:#478CB6;        /*选中区域的背景色*//*表格内文字颜色*/
   /* gridline-color: black;          */                    /*表格内框颜色*/
    /* background-color: rgb(108, 108, 108);    */           /*表格内背景色*/
    /* alternate-background-color: rgb(64, 64, 64);*/
     selection-color: white;                            /*选中区域的文字颜色*/
   
    /* border: 2px groove gray;*/
   /*  border-radius: 0px;*/
   /*  padding: 2px 4px;*/
}


QDateEdit
{
font-size: 16px;
background-color: white;
border-style: solid;
border-width: 1px;
border-color: rgb(100,100,100);
spacing: 5px;
}





#general_search_btn,#bak_search_btn,#nopay_search_btn,#totalreport_search_btn,#nopay_report_search_btn
,#share_report_search_btn,#detaishare_report_search_btn,#materielreport_search_btn,#storereport_search_btn
{ 
	border-image: url(:/ChuangfengDesktop/Resources/search_btn.png)0 160 0 0;
}
 #general_search_btn:hover,#bak_search_btn:hover,#nopay_search_btn:hover,#totalreport_search_btn:hover
 ,#nopay_report_search_btn:hover,#share_report_search_btn:hover,#detaishare_report_search_btn:hover
 ,#materielreport_search_btn:hover,#storereport_search_btn:hover
 { 
	border-image: url(:/ChuangfengDesktop/Resources/search_btn.png)0 80 0 80;
}
 #general_search_btn:pressed,#bak_search_btn:pressed,#nopay_search_btn:pressed,#totalreport_search_btn:pressed
 ,#nopay_report_search_btn:pressed,#share_report_search_btn:pressed,#detaishare_report_search_btn:pressed
 ,#materielreport_search_btn:pressed ,#storereport_search_btn:pressed
 { 
	border-image: url(:/ChuangfengDesktop/Resources/search_btn.png)0 0 0 160;
}

#general_add_btn,#bak_add_btn,#nopay_add_btn,#user_add_btn,#category_add_btn,#area_add_btn,
#supplier_add_btn,#shareitem_add_btn,#detailarea_add_btn
{ 
	border-image: url(:/ChuangfengDesktop/Resources/detail_add_btn.png)0 160 0 0;
}

#general_add_btn:hover,#bak_add_btn:hover,#nopay_add_btn:hover,#user_add_btn:hover,#category_add_btn:hover,
#area_add_btn:hover,#supplier_add_btn:hover,#shareitem_add_btn:hover,#detailarea_add_btn:hover
{ 
	border-image: url(:/ChuangfengDesktop/Resources/detail_add_btn.png)0 80 0 80;
}

#general_add_btn:pressed,#bak_add_btn:pressed,#nopay_add_btn:pressed,#user_add_btn:pressed,
#category_add_btn:pressed,#area_add_btn:pressed,#supplier_add_btn:pressed,#shareitem_add_btn:pressed,
#detailarea_add_btn:pressed
{ 
	border-image: url(:/ChuangfengDesktop/Resources/detail_add_btn.png)0 0 0 160;
}


#general_del_btn,#bak_del_btn,#nopay_del_btn,#user_remove_btn,#category_remove_btn,#area_remove_btn,
#supplier_remove_btn,#shareitem_remove_btn,#detailarea_remove_btn
{ 
	border-image: url(:/ChuangfengDesktop/Resources/detail_del_btn.png)0 160 0 0;
}

#general_del_btn:hover,#bak_del_btn:hover,#nopay_del_btn:hover,#user_remove_btn:hover,
#category_remove_btn:hover,#area_remove_btn:hover,#supplier_remove_btn:hover,#shareitem_remove_btn:hover,
#detailarea_remove_btn:hover
{ 
	border-image: url(:/ChuangfengDesktop/Resources/detail_del_btn.png)0 80 0 80;
}
#general_del_btn:pressed,#bak_del_btn:pressed,#nopay_del_btn:pressed,#user_remove_btn:pressed,
#category_remove_btn:pressed,#area_remove_btn:pressed,#supplier_remove_btn:pressed,
#shareitem_remove_btn:pressed,#detailarea_remove_btn:pressed
{ 
	border-image: url(:/ChuangfengDesktop/Resources/detail_del_btn.png)0 0 0 160;
}

#general_export_btn,#bak_export_btn,#nopay_export_btn,#totalreport_export_btn,#nopay_report_export_btn,
#sharereport_export_btn,#detailsharereport_export_btn,#materielreport_export_btn,#storereport_export_btn
{ 
	border-image: url(:/ChuangfengDesktop/Resources/detail_export_btn.png)0 160 0 0;
}
#general_export_btn:hover,#bak_export_btn:hover,#nopay_export_btn:hover,#totalreport_export_btn:hover
,#nopay_report_export_btn:hover,#sharereport_export_btn:hover,#detailsharereport_export_btn:hover
,#materielreport_export_btn:hover,#storereport_export_btn:hover
{ 
	border-image: url(:/ChuangfengDesktop/Resources/detail_export_btn.png)0 80 0 80;
}
#general_export_btn:pressed,#bak_export_btn:pressed,#nopay_export_btn:pressed,#totalreport_export_btn:pressed
,#nopay_report_export_btn:pressed,#sharereport_export_btn:pressed,#detailsharereport_export_btn:pressed
,#materielreport_export_btn:pressed,#storereport_export_btn:pressed
{ 
	border-image: url(:/ChuangfengDesktop/Resources/detail_export_btn.png)0 0 0 160;
}


#general_btn
{ 
	border-image: url(:/ChuangfengDesktop/Resources/totalout.png)0 256 0 0;
}
#general_btn:hover
{ 
	border-image: url(:/ChuangfengDesktop/Resources/totalout.png)0 128 0 128;
}
 #general_btn:pressed
 { 
	border-image: url(:/ChuangfengDesktop/Resources/totalout.png)0 0 0 256;
}
#bak_btn
{ 
	border-image: url(:/ChuangfengDesktop/Resources/bak_btn.png)0 256 0 0;
}
#bak_btn:hover
{ 
	border-image: url(:/ChuangfengDesktop/Resources/bak_btn.png)0 128 0 128;
}
 #bak_btn:pressed
 { 
	border-image: url(:/ChuangfengDesktop/Resources/bak_btn.png)0 0 0 256;
}
#nopay_btn
{ 
	border-image: url(:/ChuangfengDesktop/Resources/nopay_btn.png)0 256 0 0;
}
#nopay_btn:hover
{ 
	border-image: url(:/ChuangfengDesktop/Resources/nopay_btn.png)0 128 0 128;
}
 #nopay_btn:pressed
 { 
	border-image: url(:/ChuangfengDesktop/Resources/nopay_btn.png)0 0 0 256;
}


#store_material_mgr_btn
{ 
	border-image: url(:/ChuangfengDesktop/Resources/material_btn.png)0 256 0 0;
}
#store_material_mgr_btn:hover
{ 
	border-image: url(:/ChuangfengDesktop/Resources/material_btn.png)0 128 0 128;
}
 #store_material_mgr_btn:pressed
 { 
	border-image: url(:/ChuangfengDesktop/Resources/material_btn.png)0 0 0 256;
}

#store_feed_mgr_btn
{ 
	border-image: url(:/ChuangfengDesktop/Resources/store_feed_mgr_btn.png)0 256 0 0;
}
#store_feed_mgr_btn:hover
{ 
	border-image: url(:/ChuangfengDesktop/Resources/store_feed_mgr_btn.png)0 128 0 128;
}
 #store_feed_mgr_btn:pressed
 { 
	border-image: url(:/ChuangfengDesktop/Resources/store_feed_mgr_btn.png)0 0 0 256;
}
#feed_btn
{ 
	border-image: url(:/ChuangfengDesktop/Resources/feed_btn.png)0 256 0 0;
}
#feed_btn:hover
{ 
	border-image: url(:/ChuangfengDesktop/Resources/feed_btn.png)0 128 0 128;
}
 #feed_btn:pressed
 { 
	border-image: url(:/ChuangfengDesktop/Resources/feed_btn.png)0 0 0 256;
}
#feedsum_btn
{ 
	border-image: url(:/ChuangfengDesktop/Resources/feedsum_btn.png)0 256 0 0;
}
#feedsum_btn:hover
{ 
	border-image: url(:/ChuangfengDesktop/Resources/feedsum_btn.png)0 128 0 128;
}
 #feedsum_btn:pressed
 { 
	border-image: url(:/ChuangfengDesktop/Resources/feedsum_btn.png)0 0 0 256;
}

#TotalReport_btn
{ 
	border-image: url(:/ChuangfengDesktop/Resources/TotalReport_btn.png)0 256 0 0;
}
#TotalReport_btn:hover
{ 
	border-image: url(:/ChuangfengDesktop/Resources/TotalReport_btn.png)0 128 0 128;
}
 #TotalReport_btn:pressed
 { 
	border-image: url(:/ChuangfengDesktop/Resources/TotalReport_btn.png)0 0 0 256;
}

#NoPayReport_btn
{ 
	border-image: url(:/ChuangfengDesktop/Resources/NoPayReport_btn.png)0 256 0 0;
}
#NoPayReport_btn:hover
{ 
	border-image: url(:/ChuangfengDesktop/Resources/NoPayReport_btn.png)0 128 0 128;
}
 #NoPayReport_btn:pressed
 { 
	border-image: url(:/ChuangfengDesktop/Resources/NoPayReport_btn.png)0 0 0 256;
}
#ShareReport_btn
{ 
	border-image: url(:/ChuangfengDesktop/Resources/ShareReport_btn.png)0 256 0 0;
}
#ShareReport_btn:hover
{ 
	border-image: url(:/ChuangfengDesktop/Resources/ShareReport_btn.png)0 128 0 128;
}
 #ShareReport_btn:pressed
 { 
	border-image: url(:/ChuangfengDesktop/Resources/ShareReport_btn.png)0 0 0 256;
}
#MaterielReport_btn
{ 
	border-image: url(:/ChuangfengDesktop/Resources/MaterielReport_btn.png)0 256 0 0;
}
#MaterielReport_btn:hover
{ 
	border-image: url(:/ChuangfengDesktop/Resources/MaterielReport_btn.png)0 128 0 128;
}
 #MaterielReport_btn:pressed
 { 
	border-image: url(:/ChuangfengDesktop/Resources/MaterielReport_btn.png)0 0 0 256;
}
#ShareDetail_btn
{ 
	border-image: url(:/ChuangfengDesktop/Resources/ShareDetail_btn.png)0 256 0 0;
}
#ShareDetail_btn:hover
{ 
	border-image: url(:/ChuangfengDesktop/Resources/ShareDetail_btn.png)0 128 0 128;
}
 #ShareDetail_btn:pressed
 { 
	border-image: url(:/ChuangfengDesktop/Resources/ShareDetail_btn.png)0 0 0 256;
}
#StoreReport_btn
{ 
	border-image: url(:/ChuangfengDesktop/Resources/StoreReport_btn.png)0 256 0 0;
}
#StoreReport_btn:hover
{ 
	border-image: url(:/ChuangfengDesktop/Resources/StoreReport_btn.png)0 128 0 128;
}
 #StoreReport_btn:pressed
 { 
	border-image: url(:/ChuangfengDesktop/Resources/StoreReport_btn.png)0 0 0 256;
}

#child_widget_title{
background-color:#2A3A56;  
}
